<h1>Movies</h1>
  <table class="table">
    <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Rating</th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to "#{movie.title}", movie_path(movie.id) %></td>
      <td><%= movie.description %></td>
      <td><%= movie.rating %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<br>
