<h1>Movies</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @movie.title %></td>
    <td><%= @movie.description %></td>
    <td><%= @movie.category.name %></td>
  </tr>
  </tbody>
</table>
<br>

<%= link_to "Add Movie", new_movie_path %>
