/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

navbar navbar-expand-lg navbar-light fixed-top
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #707070;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #707070;
}

.navbar-light .navbar-nav .nav-link {
  color: #707070;
}

.navbar-toggler {
  background: #707070;
}

.navbar-nav {
  text-align: center;
  color: #707070;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #707070;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #707070;
}

/* ignore the code below */


.link-area
{
  bottom:5px;
  left:5px;
  padding:5px;
  border-radius:10px;
  background:blue;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
// Just for kicks and layout
body {
  margin-top: 30px;
  background-color: #eee;
}


// FAQ
.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);

  .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;

    &:hover {
      background-color: #f6f6f6;
    }

    &.active {
      background-color: #f6f6f6;
      font-weight: 700;
      color: rgba(0,0,0,.87);
    }

    &:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 0;
    }

    i.mdi {
      margin-right: 5px;
      font-size: 18px;
      position: relative;
    }
  }
}

// TAB CONTENT
.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);

  .card {
    border-radius: 0;
  }

  .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;

    h5 {
      margin: 0;

      button {
        display: block;
        width: 100%;
        padding: 0;
        border: 0;
        font-weight: 700;
        color: rgba(0,0,0,.87);
        text-align: left;
        white-space: normal;

        &:hover,
        &:focus,
        &:active,
        &:hover:active {
          text-decoration: none;
        }
      }
    }
  }

  .card-body {
    p {
      color: #616161;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}


// BORDER FIX
.accordion {
  > .card {
    &:not(:first-child) {
      border-top: 0;
    }
  }
}

.collapse.show {
  .card-body {
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #707070;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 100px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #204d74;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

@import "bootstrap";
